/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=63I0+0kw0w0jyC+oRxVy4oIDfjr */

/* Feel free to copy&paste color codes to your application */

/* As hex codes */

:root{
    --color-0: #9cc3e3; /*light blue*/
    --color-1: #26305c; /*dark blue*/
    --color-2: #774782; /*purple*/
    --color-3: #e4ebec; /*off white*/
    --color-4: #947c53; /*brown*/
}

.header, .content.scene{
    background-color: white;
    width: 100%;
    border-style: solid;

    padding: .5em;
    margin: .5em
}

.header.period {
    border-color: var(--color-2);
}

.header.event {
    border-color: var(--color-0);
}

.header.scene {
    border-color: var(--color-4);
}

.content {
    margin-left: 1em;
}

.card {
    width: 100%;

    text-align: left;

}

body {
    background-color: var(--color-3);
}

h3, h4 {
    margin: 0em;
}
